solutions/slnDemoCICD/Workflows/cbflow_SendDebugData-6DC92F11-78C3-ED11-B597-6045BDAC52D3.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "pub_sharedoffice365_67099"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "61d42836-8482-4105-ae71-95a024124b5f"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Initializevariable_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable3_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable4_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable5_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable6_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable2_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "Initializevariable_Value",
                "Initializevariable3_Value",
                "Initializevariable4_Value",
                "Initializevariable5_Value",
                "Initializevariable6_Value",
                "Initializevariable2_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7087465d-a36e-4aa7-b3a9-81ca9261c1fc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestCaseName",
                "type": "string",
                "value": "@{triggerBody()['Initializevariable_Value']}"
              }
            ]
          }
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b4a812ed-6cee-4c7f-9eac-7241ef9cc9ec"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestCaseId",
                "type": "string",
                "value": "@{triggerBody()['Initializevariable3_Value']}"
              }
            ]
          }
        },
        "Initialize_variable_4": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2fb08195-1522-4452-9142-4f458a7703fe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StartTime",
                "type": "string",
                "value": "@{triggerBody()['Initializevariable4_Value']}"
              }
            ]
          }
        },
        "Initialize_variable_5": {
          "runAfter": {
            "Initialize_variable_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7559a710-dde2-4c20-99c4-7cd15c251201"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EndTime",
                "type": "string",
                "value": "@{triggerBody()['Initializevariable5_Value']}"
              }
            ]
          }
        },
        "Initialize_variable_6": {
          "runAfter": {
            "Initialize_variable_5": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a892a1a-8561-4659-a42f-1b6668dc1fd0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Success",
                "type": "string",
                "value": "@{triggerBody()['Initializevariable6_Value']}"
              }
            ]
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c72ca18-6434-41ab-a1e8-a92f6c041501"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@variables('jsoninput')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Message": {
                    "type": "string"
                  },
                  "Timestamp": {
                    "type": "string"
                  }
                },
                "required": [
                  "Message",
                  "Timestamp"
                ]
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a4ebad05-4970-4994-86dd-9ba057d84011"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "Craig.Breakspear@prolifics.com",
                  "emailMessage/Subject": "Debug for EMCOR DEMO",
                  "emailMessage/Body": "<p>Here is the Debug Output from the Test Case: @{variables('TestCaseName')}<br>\n<br>\n----------------<br>\n---@{variables('Success')}---@{variables('EndTime')}---@{variables('StartTime')}---@{variables('TestCaseId')}---@{items('Apply_to_each')['Message']}</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9214ae4b-ba50-4798-82ad-038244cde90f"
          },
          "type": "Foreach"
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable_6": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4ed9b73-465f-46b3-b25b-062dfd81f3c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "jsoninput",
                "type": "string",
                "value": "@triggerBody()['Initializevariable2_Value']"
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c08c014d-aacc-4a15-b0d5-c8a0800e1f19"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "resp": "{}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "resp": {
                  "title": "resp",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}